<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>You can close this tab!</title>
	<script>
		window.close();
	</script>
</head>
<body>
	<h1 style="font-family: Arial, Helvetica, sans-serif; text-align: center;">You can close this tab!</h1>
</body>
</html>